<div class="row">
<div class="col-md-8">
<div id="video-player-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div *ngFor="let userId of paginatedVideos"  
    style="width: 100%; padding: 5px; max-width: 300px; box-sizing: border-box;">
    <video id="{{userId}}" media-type="video" autoplay muted style="width: 100%; height: auto;"></video>
    </div>
</div>
<div style="display: flex; margin-right: 5px; justify-content: center;">
    <button *ngIf="!isAudioMuted" (click)="onMicrophoneClick()"><img src="../assets/participants/audio-muted.svg"></button>
    <button *ngIf="isAudioMuted" (click)="onMicrophoneClick()"><img src="../assets/participants/audio-unmuted.svg"></button>
    <button *ngIf="!isVideoMuted" (click)="onCameraClick()"><img src="../assets/participants/video-off.svg"></button>
    <button *ngIf="isVideoMuted" (click)="onCameraClick()"><img src="../assets/participants/video-on.svg"></button>
    <button><img src="../assets/participants/call-end.svg"></button>
    <button (click)="toggleChat()"><img src="../assets/participants/icon-chat.svg" style="height: 19px;"></button>
</div>

<div>
    <label for="videosPerPage">Videos per Page:</label>
    <select id="videosPerPage" [(ngModel)] = "this.videosPerPage" (change)="updateVideosPerPage()">
      <option value="2">2</option>
      <option value="4" selected>4</option>
      <option value="6">6</option>
      <!-- <option value="8">8</option> -->
    </select>
  </div>
  
  <div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" style="width: 5vw; color: black;">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages() }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages()" style="width: 5vw;color:  black">Next</button>
  </div>

</div>
<div class="col-md-4">
<!-- Chat Section -->
<div *ngIf="isChatVisible" class="chat-container" style="border: 1px solid green; padding: 10px; margin-top: 10px; height: 25vw; position: relative;">
    <div class="chat-messages" style="max-height: 19vw; overflow-y: auto; margin-bottom: 10px;">
        <div *ngFor="let msg of messages">{{ msg }}</div>
    </div>
    <div style="position: absolute; bottom: 0; display: flex; width: 100%; padding: 10px;">
    <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." style="width: calc(100% - 60px);height: 45px;" />
    <button (click)="sendMessage()" style="padding: 5px; width: 60px;">Send</button>
    </div>
</div>
</div>
</div>